/* Couleurs :
- #4A148C  :  violet foncé
- #7C4DFF  :  violet clair
- #FFEB3B  :  jaune
- #121212  :  noir
- #E0E0E0  :  gris clair

Polices :
- Orbitron
- Montserrat
- Roboto

Styles de designs :
- Utilisation d'ombres portées
- Glassmorphisme

Médias :
- Logo
	- fourni au format SVG
	- à utiliser exclusivement sur un fond sombre
- Bannière principale
	- fournie au format WEBP
- Images des cartes de la section "Prochaine édition"
	- non fournies, choix d'images entièrement libre */

:root {
    --primary-color: #4A148C;
    --secondary-color: #FFEB3B;
    --highlight-color: #7C4DFF;
    --black-color: #121212;
    --light-color: #E0E0E0;
}

.orbitron-nc-brand {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
}

.orbitron-title {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
}

.montserrat-link {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.roboto-text {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.roboto-label {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 0.5rem 0 0 0;
}

.form-control {
    width: 100%;
}

.form-field-box {
    width: 100%;
}

.burger-menu {
    width: 32px;
    height: 32px;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-primary-subtle {
    background-color: var(--highlight-color) !important;
}

.btn:hover {
    background-color: var(--highlight-color) !important;
    color: var(--secondary-color);
}

.btn-secondary {
    background-color: var(--secondary-color) !important;
    color: var(--highlight-color);
    font-weight: 800;
}

.participate-button-text {
    letter-spacing: 4px;
}

.bg-black {
    background-color: var(--black-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.text-light,
.link-light {
    color: var(--light-color) !important;
}

.border-secondary {
    border-color: var(--secondary-color) !important;
    border-radius: 10px !important;
}

.card {
    border-color: var(--secondary-color) !important;
    border-width: 2px !important;
    border-radius: 10px !important;
    background-color: var(--highlight-color) !important;
    box-shadow: 0.5rem 0.5rem 8px 2px #FFEB3B;
}

.card-img {
    border-radius: 8px 8px 0 0 !important;
}

.card-text {
    border-radius: 8px !important;
}

.glass-text {
    background: rgba(255, 255, 255, 0.1) !important;    
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px) !important;
    padding: 0.5rem !important;
    border-radius: 10px !important;
    bottom: 1rem;
    margin: 0 auto !important;
}

.nc-logo {
    width: 48px;
    height: 48px;
}

.nc-small-logo {
    width: 32px;
    height: 32px;
}

.error404 {
    width: 50%;
}

.slogan {
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    min-width: 250px;
}

@media screen and (min-width: 768px) {
    .slogan {
        margin-left: 8.33% !important;
        margin-bottom: 4rem !important;
        left: auto;
        transform: none;
        font-size: 1.5rem;
    }

    .orbitron-nc-brand {
        font-size: 1.5rem;
    }

    .error404 {
        width: 25%;
    }
}

@media screen and (min-width: 992px) {
    .form-field-box {
        width: 48%;
    }

    .slogan {
        font-size: 1.75rem;
    }

    .orbitron-nc-brand {
        font-size: 2rem;
    }    
}